<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script>
        const roomName = "<%= roomName %>";
    </script>
    <script defer src="http://ipaddress:3000/socket.io/socket.io.js"></script>
    <script defer src="/script.js"></script>
    <title><%= roomName %></title>
    <style>
        body {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            background-color: #36393f;
            font-size: 'Roboto', sans-serif;
        }

        button {
            background-color: rgb(114,137,218);
            border: none;
        }

        #message-container {
            width: 80%;
            max-width: 1200px;
            overflow-y: scroll;
            height: 80vh;
            font-size: 20px;
        }

        #message-container div {
            background-color: #ccc;
            padding: 5px;
        }

        #message-container div:nth-child(2n) {
            background-color: #fff;
        }

        #send-container {
            position: fixed;
            padding-bottom: 30px;
            bottom: 0;
            max-width: 1200px;
            width: 80%;
            display: flex;
        }

        #message-input {
            flex-grow: 1;
            height: 25px;
            font-size: 20px;
        }

        #status-bar {
            position: fixed;
            bottom: 0;
            text-align: center;
            margin-bottom: 60px;
        }

        #status {
            color: white;
        }
    </style>
</head>
<body>
    <div id="message-container"></div>

    <div id="status-bar">
        <p><i id="status"></i></p>
    </div>

    <form id="send-container">
        <input type="text" id="message-input" autocomplete="off" autofocus>
        <button type="submit" id="send-button">Send</button>
    </form>
</body>
</html>
